
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.flex{
    display: flex;
}

/*Thanh menu*/
header{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #31294C;
}
.mucLucs{
    background-color: none;
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
}
.logoTruongs{
    padding-left: 3rem;
    margin: 0.3rem;
}
#logoTruong{
    width: 250px;
}
nav.mucLucs{
    margin-top: 0.3rem;
    margin-left: auto;
    list-style-type: none;
    padding-right: 3rem;
}
ul.mucLucs>li>a{
    text-decoration: none;
    display: block;
    padding: 0 1rem;
    color: white;
    font-weight: bold;
    margin: 1.25rem 0.5rem;
}
ul.mucLucs>li>a:hover{
    color: #b9a2d8;
}
/* Thanh menu nhá» trong menu */
ul.mucLuc{
    margin: 0;
    list-style-type: none;
    padding: 0;
    background-color: #31294C;
    display: none;
    position: absolute;
    border-radius:0 0 5% 5%;
}
ul.mucLuc>li>a{
    text-decoration: none;
    color: white;
}
ul.mucLuc>li>a:hover{
    color: #b9a2d8;
}
.sub:hover .mucLuc{
    display: block !important;
}
.mucLuc>li:first-child{
    margin-top: 1.5rem;
}
.mucLuc>li{
    margin: 0 1.5rem 1.5rem 1.5rem;
    margin-left: 1.5rem;
}
.editMenuSmall2>li{
    margin-right: 1.5rem !important;
}
#closeMenu{
    display: none;
}
/* Footer */

footer{
    margin: 0;
    margin-top: 10rem;
    color: white;
    width: 100%;
}

.footer{
    width: 80%;
    margin: 0 auto;
}
footer ul{
    list-style-type: none;
}
.iconLienHe>ul>li{
    margin: 0 0.5rem;
    font-size: 25px;
}
footer a{
    text-decoration: none;
    color: white;
}

.phanDau{
    width: 100%;
    margin: 2rem 0;
}
.logoTruongFooter{
    margin-left: 0;
}
#truongFooter{
    width: 90%;
}
.iconLienHe{
    /* width: 50%; */
    margin-left: auto;
}
.iconLienHe>ul{
    display: flex;
}
.phanGiua{
    width: 100%;
    margin: 1.5rem 0;
}
.thongtinNDF{
    padding-left: 0;
}
.thongtinNDF>li{
    padding: 7px 0;
}

.thongtinNDF>li>a>i{
    padding-right: 10px;
}
.noidungFooters:first-child{
    width: 45%;
}
.noidungFooters:nth-child(2){
    width: 40%;
}
.tieuDeNDF{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #da18dd;
}
.tenNoiDungFooters >i{
    margin: auto 0;
}
.tenNoiDungFooter{
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.noiDungNhoFooter{
    font-size: 14px;
}

.phanCuoi>span{
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 2rem;
}




@media screen and (max-width: 1024px){
    /* footer */
    .noidungFooters:nth-child(2) {
        width: 45%;
    }
    .noidungFooters:nth-child(2) {
        width: 30%;
    }
    .noidungFooters:nth-child(3) {
        width: 25%;
    }
}

@media screen and (max-width: 768px){
    /* menu */
    .noidungFooters:nth-child(1) {
        width: 53%;
    }
    .noidungFooters:nth-child(2) {
        width: 32%;
    }
    .noidungFooters:nth-child(3) {
        width: 25%;
    }
    nav.mucLucs{
        z-index: 10000;
        display : none;
        width : 100vw;
        margin : 0;
        position : relative;
        flex-direction: column; 
        position: fixed;
        z-index: 10000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        justify-content: right;
        align-items: right;
        text-align: right;
    } 
    nav.mucLucs>ul{
        display: block;
        width: 60%;
        margin-right: auto;
        transition: 2s ease-out;
    }
    nav.mucLucs>ul>li{
        border-bottom : 1px solid lightgray;
    }
    nav.mucLucs>ul>li>a{
        text-align: left;
        padding: 1rem;
        padding-right: 3rem;
        /* border-bottom : 1px solid lightgray; */
        margin: 0;
    }
    #menuRutGon {
        display: block;
        display : flex;
        font-size: 30px;
        width : 3rem;
        height : 3rem;
        padding : 1rem;
        align-items: center;
        z-index : 1000;
        cursor: pointer;
        margin : 0.5rem 1rem;
        color : white;
        margin-left : auto;
    }
    ul.mucLucs{
        height:100%;
        background-color: #31294C;
        font-size: 24px;
    }
    #menuRutGon>i{
        margin: 0 auto;
    }
    ul.mucLuc {
        background: none;
    }

    .sub > ul {
        width : 100%;
        position : relative;
        background-color: #5756BB;
        border-radius: 0;
    } 
    .mucLuc>li{
        width: 100%;
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-bottom : 1px solid lightgray;
        margin: 0;
       text-align: left;
        
    }
    .mucLuc>li:first-child {
        margin-top: 0;
    }
    .mucLuc>li:last-child {
        border-bottom : none;
    }
    .mucLuc>li>a{
        text-align: left;
        padding: 1rem;
        margin-right: 2rem;
        /* border-bottom : 1px solid lightgray; */
    }
    #closeMenu {
        text-align: left;
        border-bottom: none;
        margin-bottom: auto;
        text-align: left;
        padding: 1rem;
        padding-right: 3rem;
        margin: 0;
        font-size: 24px;
        color: white;
        font-weight: bold;
        display: block;
        cursor: pointer;
    }
    #closeMenu:hover{
        color: #da18dd;
    }
}

@media screen and (max-width: 430px){
    nav.mucLucs>ul{
        width: 100%;
    }
    div.logoTruongs{
        padding-left: 1rem;
    }
}



